:root {
    --black-bkg: #222222;
    --light-p: #f1e4e6;
    --light-t: #FFFFFF;
    --red-b: #FF6A6A;
    --dark-pink: #F16D7F;
    --black-gray: #5D5D5D;
    --white: #FBFBFB;
    --pinki: #F26376;
    --grey-light: #E1E1E1;
}