:root {
    --black-bkg: #222222;
    --light-p: #f1e4e6;
    --light-t: #FFFFFF;
    --red-b: #FF6A6A;
    --dark-pink: #F16D7F;
    --black-gray: #5D5D5D;
    --white: #FBFBFB;
    --pinki: #F26376;
    --grey-light: #E1E1E1;


}


.contents__card {
    display: flex;
    flex-flow: column;
    padding: 34px;
}

.card1 {
    position: relative;
    float: left;
    left: 130px;
    width: 550px;
    height: 336px;
    padding: 44px 32px;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    background-color: #FFFFFF
}

.card2 {
    position: relative;
    margin-top: 40px;
    margin-left: 130px;
    width: 550px;
    height: 336px;
    padding: 44px 32px;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    background-color: #FFFFFF
}

.message__title {
    margin-top: 40px;
    position: absolute;
    left: 840px;
    width: 459px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.message__info {
    width: 360px;
    height: 45px;
    margin-bottom: 20px;
}

.message__button {
    left: 35px;
    position: absolute;
    margin-right: -615px;
    width: 332px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    border: 1px solid var(--red-b);
    padding: 15px 0;
    text-decoration: none;
    color: var(--white);
    background-color: var(--dark-pink);
    bottom: 58px;
}

.card__bottom {
    width: 132px;
    height: 43px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    background-color: var(--light-t);
}

.card__closed {
    position: absolute;
    right: 35px;
}

.total__product {
    position: absolute;
    left: 215px;
    width: 108px;
    height: 13px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;

}

.total__title {
    padding-top: 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    position: absolute;
    left: 215px;
}

.cart__title {
    position: absolute;
    margin-top: -295px;
    left: 305px;
    font-size: 46px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: right;
}

.total__info {
    position: absolute;
    margin-left: 805px;
    bottom: -455px;
    width: 350px;
    height: 216px;
    padding: 44px 32px;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    background-color: #f5f3f3;
}

.sales {
    display: flex;
}

.cart__title-sub {
    position: absolute;
    margin-top: -255px;
    left: 305px;
    font-size: 46px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: right;
}

.card__text-sub {
    color: var(--dark-pink);
}

.card__text {
    position: absolute;
    margin-top: -215px;
    left: 305px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    justify-content: right;
}

.card__info {
    position: absolute;
    margin-top: -185px;
    left: 305px;
    display: flex;
    justify-content: right;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.card__size {
    position: absolute;
    margin-top: -155px;
    left: 305px;
    display: flex;
    justify-content: right;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.card__quantity {
    position: absolute;
    margin-top: -115px;
    left: 305px;
    display: flex;
    justify-content: right;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.header {
    background-color: var(--black-bkg);
    display: flex;
    justify-content: flex-end;
    position: relative;
    min-height: 40px;
}

.header__card {
    display: flex;
    width: 1600px;
    height: 148px;
    left: 0%;
    right: 0%;
    top: 4.29%;
    bottom: 87.24%;
    background-color: var(--light-p)
}

.header__title-card {
    margin-left: 230px;
    font-size: 46px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    width: 194px;
    height: 29px;
    top: 134px;
    left: 230px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;

}

.body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.cut-down {
    visibility: hidden;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.header__nav {
    display: none;
    position: absolute;
    width: 80px;
    top: 100%;
    right: 0;
    background: white;


}

.header__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__nav-item:hover {
    color: red;
    cursor: pointer;
}

.header-menu-link {
    color: rgb(248, 248, 248);
    text-decoration: none;
}

.header-menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-menu-link:hover {
    color: red;
    cursor: pointer;
}

.header__burger-icon:hover+.header__burger-icon:focus {
    fill: #5D5D5D;
}


.header-menu:hover {
    display: block;
}



.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header_logo {
    margin: 0 41px 0 0;
}

.header_list {
    display: flex;
}

.header_buttom {
    margin: 0 41px 0 0;
    background: transparent;
}

.header__link {
    margin: 0 41px 0 0;
}

.nav-sub-item__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    padding: 0 0 12px 33px;
    text-decoration: none;
}

.brand {
    display: flex;
    margin: 0 0 62px 0;
}

.brand_title_wrp {
    flex-grow: 1;
    padding: 0 0 0 182px;
    display: flex;
    align-items: center;
    background-color: var(--light-p);
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}


.brand_title {
    font-size: 46px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand_title:before {
    content: '';
    width: 12px;
    height: 168px;
    position: absolute;
    background-color: var(--dark-pink);
    margin-left: -20px;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.sales_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog_item {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.catalog_text {
    padding: 0 0 48px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey);
    text-align: center;
}

.catalog_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__item-title {
    padding: 24px 0 12px 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black-bkg);
    text-transform: uppercase;
}

.catalog__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--black-gray);
    padding: 0 0 0 18px;
}

.catalog__price {
    padding: 18px 0 20px 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink);
    margin-left: -254px;
}

.sales__item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 32px;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;
    background-color: var(--sales-bkg-color);
    text-transform: uppercase;
}

.cart-wrapper {
    position: relative;
}

.overlay {
    width: 100%;
    min-height: 150px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    height: 420px;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, .5) 1px 1px, rgba(100, 100, 100, .3) 3px 7px 3px;
    user-select: none;
    padding: 1em 2em;
    outline: none;
    border-radius: 3px / 100%;
    background: rgba(0, 0, 0, 0.4);
}

a.button:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

a.button:active {
    top: 1px;
}

.cart-wrapper-overlay {
    position: relative;
}

.button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.overlay,
.button {
    display: none;
}

.cart-wrapper-overlay:before {
    display: none;
}

.cart:hover .button,
.cart:hover .overlay,
.cart:hover .cart-wrapper-overlay:before {
    display: block;
}

.sales__item--woman {
    background-image: url(images/forwomen.jpg);
}

.sales__item--man {
    background-image: url(images/formen.jpg);
}

.sales__item--kids {
    background-image: url(images/forkids.jpg);
}

.sales__item--accesories {
    background-image: url(images/accesories.jpg);
    width: 100%;
    min-height: 180px;
    margin: 0 0 97px;
}

.sales__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--light-t);
}

.sales__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-pink);
}


.sales__item {
    display: flex;
}

.catalog__button {
    width: 212px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    border: 1px solid var(--red-b);
    padding: 15px 0;
    text-decoration: none;
    color: var(--white);
    background-color: var(--dark-pink);

}

.style_buttom {
    margin-left: 460px;
    display: flex;
    border: none;
}

.aside__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 341px;
    background-color: var(--black-bkg);
}

.aside__title {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: white;
    text-align: center;
    padding: 19px 0 16px 0;
}

.aside__text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: white;
}

.aside__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__main {
    min-height: 448px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(images/subscribe.jpg);

}


.backcolor {
    background-color: var(--black-bkg);
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.footer__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__text {
    color: var(--white);
    margin-left: 172px;
}

.style__icon {
    display: flex;
    margin-right: 108px;
}

.icon {
    margin-left: 6px;
    background-color: rgb(255, 255, 255);
    top: 98.56%;
    bottom: 0.6%;
    width: 22px;
}

.subscribe {
    width: 360px;
    height: 225px;
}

.down__text {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: var(---black-bkg);
    text-transform: uppercase;
}

.subscribe__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: var(--black-bkg);
    text-transform: uppercase;
}

.subscribe__email {
    margin: 0 0 0 0;
    width: 256px;
    height: 49px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background: var(--grey-light);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    margin-left: -45px;
}

.submit__button {
    width: 100px;
    height: 49px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: var(--dark-pink);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    margin-left: -3px;
}

.input__text {
    left: 57.31%;
    right: 26.69%;
    top: 54.24%;
    bottom: 34.82%;
    background: #E1E1E1;
}

.bg {
    background-image: url(images/bg.jpg);
}




@media (max-width: 1024px) {
    .header__wrp {
        left: 0%;
        right: 0%;
        top: 0%;
        width: 1600px;
        height: 75px;
    }

    .header_logo {
        width: 44px;
        height: 38px;
        left: 14.44%;
        right: 82.81%;
        top: 0.47%;
        bottom: 98.54%;
    }
}



@media (min-width: 376px) and (max-width: 768px) {

    .header__wrp {
        height: 74px;
        left: 0%;
        right: 0%;
        top: 0%;
    }

    .header_logo {}

    .brand_title {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
    }

    .sales__title {
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: var(--dark-pink);
    }

    .footer__main {
        width: 1140px;
    }


    .brand_title_wrp {
        padding: 0 0 0 362px;
        display: flex;
        align-items: center;
    }

    .brand {
        padding: 0 0 0 92px;
        display: flex;

    }

    .brand_man {
        width: 550px;
    }

    .brand_title:before {
        content: '';
        width: 12px;
        height: 108px;
        position: absolute;
        margin-left: -120px;
    }

    .brand__subtitle-pink {}

    .brand_title {
        left: 58.98%;
        right: 4.17%;
        top: 4.97%;
        bottom: 93.2%;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 53px;
    }
}

.header__title-card-sub {
    display: flex;
    margin-left: 513px;
    margin-top: 23px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.product__card {
    display: flex;
    justify-content: center;
}

.product__main {

    margin-top: 40px;
    margin-left: -95px;
    width: 1141px;
    height: 301px;
    padding: 44px 32px;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    background-color: #d3d1d1;
}

.product__text {
    position: relative;
    bottom: -18px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-align: center;
}

.product__text-sub {
    top: 56px;
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}

.prev {
    left: 2px;
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.myslides {
    display: block;
    display: flex;
    justify-content: center;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.numbertext {
    top: 20px;
    position: absolute;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev:hover,
.next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.product__title {
    font-size: 24px;
    line-height: 29px;
    color: var(--pinki);
    text-align: center;
}

.product__title:after {
    content: '';
    width: 110px;
    height: 4px;
    position: absolute;
    background-color: var(--dark-pink);
    margin-left: -150px;
    bottom: 288px;
}